<div class="select-input-container">
  <label class="form-label">
    {{label}}
  </label>
  <div class="relative">
    <select
    [value]="value"
    (change)="onInput($event.target.value)"
    [ngStyle]="{color: value === '' ? '#AAA' : 'black'}"
    class=" select-input" id="grid-state"
    >
      <option value="" disabled selected hidden>{{placeholder}}</option>
      <option style="color:black" *ngFor="let item of data" [value]="item">
        {{item}}
      </option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>
  <div class="input-error" *ngIf="showError">
    {{errorText}}
  </div>
</div>
